@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-primary: #f6f9fc;
    --bg-secondary: #f3f5ff;
    --bg-tertiary: #c3ccfc;
    --text-primary: #111827; 
    --text-secondary: #4b5563; 
    --accent-primary: #3b82f6; 
  }

  .dark {
    --bg-primary: #0f172a; /* slate-900 */
    --bg-secondary: #1e293b; /* slate-800 */
    --bg-tertiary: #2d3748; /* slate-700 / dark-blue */
    --text-primary: #f8fafc; /* slate-50 */
    --text-secondary: #94a3b8; /* slate-400 */
    --accent-primary: #60a5fa; /* blue-400 */
  }
}

@layer base {
  * {
    @apply transition-colors duration-800;
  }
  
  body {
    @apply bg-background text-primary;
  }
}
